@charset "utf-8";
/*body{
  background: yellow;

}*/
/*요소의 여백 최소화*/
/* * 전체 선택자 */
/** {
  margin: 0;
  padding: 0;
}*/


html, body, h1,h2,h3,h4,h5,h6,p{
  margin: 0;
  padding: 0;
}

/*제목크기 초기화*/
h1,h2,h3,h4,h5,h6,p{
  font-size: 1em;
  /*fw:n*/
  font-weight: normal;
}
/*레이아웃*/
/*.을찍고 뒤에 쓰면 클래스를 찾는다. 그냥쓰면 식별을 못한다.*/
.wrapper{ 
  background-color: silver;
  height: 100vh;
}

.header, .visual, .main-content, .slogan, .footer{
  width: 940px; 
  margin: 0 auto;
}
.header{
  /*내가 지정한 width 값에 보더 패딩 다 더해서 결국엔 940 px로 된다.*/
  box-sizing: border-box;
  /*w940px*/
  
  background-color: pink;
  /*border: 10px solid blue;
  padding: 20px;*/
  /*margin: 0 50px 100px 200px;*/
  
  /*h10vh*/
  height: 10vh;
}
.visual{
  background-color: lime;
  height: 10vh;
}
.main-content{
  background-color: blue;
  height: 60vh;
}
.slogan{
  background-color: yellow;
  height: 10vh;
}
.footer{
  background-color: skyblue;
  height: 10vh;
}