@charset "utf-8";

/*웹폰트 선언*/

@import"fontello.css";

/*@는 선언만한다. 화면에[ 바로 나오지는 않는다.*/

@font-face {
    /*글꼴 이름*/
    font-family: 'Noto Sans Regular';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans Regular'), local('NotoSans-Regular'), url('font/eot/NotoSansKR-Regular-Hestia.eot'), url('font/eot/NotoSansKR-Regular-Hestia.eot?#iefix') format('embedded-opentype'), url('font/woff/NotoSansKR-Regular-Hestia.woff') format('woff'), url('font/otf/NotoSansKR-Regular-Hestia.otf') format('opentype');
}

@font-face {
    font-family: 'Noto Sans Bold';
    font-style: normal;
    font-weight: 700;
    src: local('Noto Sans Bold'), local('NotoSans-Bold'), url('font/eot/NotoSansKR-Bold-Hestia.eot'), url('font/eot/NotoSansKR-Bold-Hestia.eot?#iefix') format('embedded-opentype'), url('font/woff/NotoSansKR-Bold-Hestia.woff') format('woff'), url('font/otf/NotoSansKR-Bold-Hestia.otf') format('opentype');
}

@font-face {
    font-family: 'webcafeIcon';
    font-weight: 400;
    src: url('font/webcafeIcon.eot');
    src: url('font/webcafeIcon.eot?#iefix') format('embedded-opentype'), url('font/webcafeIcon.woff') format('woff'), url('font/webcafeIcon.ttf') format('truetype'), url('font/webcafeIcon.svg#webcaferegular') format('svg');
}


/*숨김 컨텐츠*/

legend,
.hidden {
    /*이렇게 하면 완전히 감춰지지 않는다*/
    /*display: none;*/
    position: absolute;
    left: -9999px;
    /*background: lime;*/
}


/*이렇게 직접 url을 통해 글꼴을 받을 수 잇다.*/


/*@import url('https://fonts.googleapis.com/css?family=Noto+Sans');*/


/*body{
  background: yellow;

}*/


/*요소의 여백 최소화*/


/* * 전체 선택자 */


/** {
  margin: 0;
  padding: 0;
}*/

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin: 0;
    padding: 0;
}


/*제목크기 초기화*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: 1em;
    /*fw:n*/
    font-weight: normal;
}


/*레이아웃*/


/*.을찍고 뒤에 쓰면 클래스를 찾는다. 그냥쓰면 식별을 못한다.*/

html {
    font-size: 10px;
}


/*기본 스타일*/

body {
    /*앞에 글꼴이 인식 안될경우를 대비해서 , 찍도 뒤에 다른 글꼴을 사용한다.*/
    font-family: 'Noto Sans Regular', sans-serif;
    /*font-family: "돋움",Dotum;*/
    font-size: 1.4rem;
    /*line-height는 글자의 크기와 약간의 테두리 관련해서 나타낸다.*/
    line-height: 1.15;
}

input,
textarea,
select,
option,
button {
    font-family: inherit;
    font-size: inherit;
}

.wrapper {
    /*background-color: silver;*/
    /*background-image: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 99%,rgba(0,0,0,0) 100%);*/
    /*background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);*/
    /*background-image: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);*/
    /*background-image: url(images/bg_flower.png),linear-gradient(to bottom, rgba(0,0,0,0.5) 0%, rgba(255,255,255,1) 100%);*/
    /*그림을 하나만 나오게 한다. 또한 2가지 이미지에 따로 적용하기 위해 , 를 사용한다.*/
    /*background-repeat: no-repeat,repeat;
  background-position: 50% 0%, 0% 0%;*/
    /*위에 3개를 한번에 나타내기*/
    background: url(images/bg_flower.png) no-repeat 50% 0%, linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 1) 100%) repeat 0% 0%;
    /*이미지가 올라가는거를 막아준다. 배경 이미지를 고정시킨다.*/
    background-attachment: fixed;
    height: 100vh;
}


/*링크스타일*/

a {
    color: inherit;
    text-decoration: none;
}

.header,
.visual,
.main-content,
.slogan,
.footer {
    width: 940px;
    margin: 0 auto;
    /*상자들이 패딩이나 마진으로 넘어가는 부분을 원래 부분으로 맞춰줌.*/
    box-sizing: border-box;
}


/*헤더*/

.header {
    /*내가 지정한 width 값에 보더 패딩 다 더해서 결국엔 940 px로 된다.*/
    box-sizing: border-box;
    /*w940px*/
    /*height: 115px;*/
    /*컨텐츠가 추가 되면 계쏙 같이 늘어 난다 min-height*/
    /*min-height: 115px;*/
    background-color: #FFFFFF;
    border-radius: 0 0 20px 20px;
    box-shadow: 3px 3px 5px 3px gray;
    /*background-color: pink;*/
    /*border: 10px solid blue;
  padding: 20px;*/
    /*margin: 0 50px 100px 200px;*/
    /*h10vh*/
    /*height: 10vh;*/
    position: relative;
    padding: 0 30px 40px 30px;
}


/*로고*/

.logo {
    /*pos:r 이거는 relative는 붕 떠있는 상태다 즉 스티커와 비슷하다.*/
    /*position: relative;
    top: 50px;
    left: 100px;*/
    /*fixed는 absolute와 같은 화변 view port 기준이다.*/
    /*position: fixed;*/
    position: absolute;
    top: 45px;
    left: 60px;
}


/*텍스트 링크 - 안내링크*/

.info-menu {
    /*background: pink;*/
    /*기존에 점같은거를안쓰겟다 불릿을 안사용하겟다.*/
    list-style: none;
    font-size: 0;
    text-align: right;
    position: relative;
    right: -10px;
}


/*클래스와 요소를 같이 선택한다. 즉 그 하위 메뉴 안에 요소만 li를 선택한다.*/

.info-menu li,
.info-menu a {
    display: inline-block;
}

.info-menu li {
    /*background: lime;*/
    /*display: inline;*/
    font-size: 1.4rem;
    text-transform: uppercase;
}


/*.info-menu li a{
    }*/

.info-menu a {
    /*패딩은 공백의 넓이 길이까지 늘어난다. */
    padding: 10px;
    /*background: yellow;*/
    /*display: inline-block;*/
}

.info-menu li::after {
    content: ":";
}

.info-menu li:last-child::after {
    /*background: yellow;*/
    content: "";
}


/*메인메뉴*/

.main-menu {
    background-image: linear-gradient(120deg, #96e6a1 0%, #d4fc79 100%);
    /*background: linear-gradient(to bottom, #e5892d 0%, #e0652c 35%, #e0652c 65%, #e5892d 100%);*/
    list-style: none;
    border-top: 2px solid #181818;
    /*x,y 값을 둥글게 할수 있다.*/
    /*border-radius: 0 0 25px 25px/ 0 0 25px 25px;*/
    border-radius: 0 0 25px 25px;
    padding-left: 225px;
    /*font-size: 1.8rem;*/
    height: 45px;
    box-shadow: 3px 3px 5px 3px gray;
}

.main-menu>li {
    float: left;
    position: relative;
    /*이렇게 하면 단점은 여백을 주면 공백부분은 클릭할 수 없다. 따라서 밑에 li>a 부분에 준다.
    padding: 10px 20px;*/
}


/*자식 선택자 그 안에 있는 자식만 A만을 선택한다.*/

.end {
    border-radius: 0 0 25px 0;
}


/*.main-menu>li>a {*/

.main-menu span {
    cursor: pointer;
    font-size: 1.6rem;
    font-family: "Noto Sans Bold";
    /*요새는 투명도 주는게 트랜드 그때는 16진수가아닌 rgba 방식을 사용*/
    /*padding: 10px 21px 10px 20px;*/
    background: rgba(255, 255, 255, 0.2);
    display: block;
    line-height: 45px;
    padding: 0 20px;
    border-left: 2px solid rgba(255, 255, 255, 0.9);
    /*text-shadow: 1px 1px 0 #000, 2px 2px 0 #000, 3px 3px 0 #000, 4px 4px 0 #000;*/
    color: rgba(93, 93, 93, 0.95);
    text-shadow: 1px 1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, -1px -1px 0 #fff;
}


/*hover는 가상 앨리먼트라고 부른다. 마우스는 올렸을때를 hover*/


/*focus를 사용해서 키보드를 통해서도 움직일수 있게 한다.*/


/*hover는 마우스를 올렸을때 효과를 준다.*/


/*hover 마우스 올리면 다음에 밑에 줄나오게 한다.*/

.main-menu span:hover,
.main-menu span:focus {
    /*color: hsla(30, 80%, 70%, 1);*/
    /*color: rgba(255, 255, 255, 0.7);
    text-shadow: 1px 1px 0 #f00, 1px -1px 0 #f00, -1px 1px 0 #f00, -1px -1px 0 #f00;*/
    /*border-bottom: 2px solid #181818;*/
    color: rgba(255, 255, 255, 1);
    text-shadow: 1px 1px 0 rgba(93, 93, 93, 0.95), 1px -1px 0 rgba(93, 93, 93, 0.95), -1px 1px 0 rgba(93, 93, 93, 0.95), -1px -1px 0 rgba(93, 93, 93, 0.95);
    outline: 0;
}

.main-menu span:hover::after,
.main-menu span:focus::after {
    content: "";
    display: block;
    background: skyblue;
    border-top: 2px solid #181818;
}


/*.main-menu>li>a::before {
    content: "구분선";
    display: block;
    background: skyblue;
}*/


/*#para 아이디를 써버리면 구체성 점수가 100점이 된다.*/

.main-menu ul {
    list-style: none;
    position: absolute;
    /*display: none;*/
    /*rap은 줄바꿈이고 nowrap은 줄바꿈 하지 않겟다.*/
    white-space: nowrap;
    top: 45px;
}

.main-menu ul li {
    display: inline-block;
}

.main-menu ul a::before {
    font-family: "webcafeicon";
    content: "r";
    position: relative;
    top: 2px;
}

.main-menu ul a:hover::before,
.main-menu ul a:focus::before {
    content: "c";
    /*상속되어 있어서 위에서 2px 내렷으니까 더 내려야 차이가 난다.*/
    /*top: 10px;*/
    /*position: relative;*/
}

.main-menu ul a:hover,
.main-menu ul a:focus {
    color: green;
}

.main-menu ul a {
    padding: 8px 15px 7px 0;
    display: block;
}

.about-html {
    /*!important를 쓰면 구체성이 1등이 된다. 무조건 보인다.*/
    /*display: flex !important;*/
    display: none;
    left: 0;
}

.about-CSS {
    display: none;
    left: 0;
}

.web-standards {
    display: none;
    left: 0;
}

.web-accessibility {
    display: none;
    left: -140px;
}

.qna {
    display: none;
    left: -170px;
}

.archive {
    display: none;
    right: -25px;
}


/*비주얼*/

@keyframes text-ani {
    /*시작과 끝을 명시하자 from to 도 괜춘*/
    0% {
        font-size: 12px;
        color: rgba(0, 0, 0, 0);
        /*margin: 0 0 0 0;*/
        /*padding: 0 0 0 0;*/
        /*top: 0;
        left: 0;*/
        transform: translate(0, 0);
    }
    100% {
        font-size: 24px;
        color: rgba(0, 0, 0, 1);
        /*margin: 75px 0 0 400px;*/
        /*padding: 75px 0 0 400px;*/
        /*top: 75px;
        left: 400px;*/
        transform: translate(600px, 75px);
    }
}

.visual {
    /*background-color: lime;*/
    /*height: 10vh;*/
    position: relative;
    height: 120px;
}

.visual::before,
.visual::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
}

.visual::before {
    background: url("images/ani_flower_01.png") no-repeat 0px -10px, url(images/ani_flower_02.png) no-repeat 670px 0;
    /*background-color: yellow;*/
    animation-name: flower-ani;
    animation-duration: 4s;
    animation-fill-mode: backwards;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.visual::after {
    /*순서 중요하다 cascade 중요 pink를 위에 하면 안나온다.
    따라서 밑에다 해서 순서를 나타내야 한다.*/
    background: url(images/ani_flower_03.png) no-repeat 300px 0, url(images/ani_flower_04.png) no-repeat 800px 0;
    /*background-color: pink;*/
    animation-name: flower-ani;
    animation-duration: 3s;
    animation-delay: 6s;
    animation-fill-mode: backwards;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes flower-ani {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.visual-text {
    /*조지아로 보이고 다음에 업으면 time new roman 없으면 time 없으면 serif*/
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: inline-block;
    /*position: absolute;*/
    /*background: yellow;
    animation-name: text-ani;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    color: rgba(0, 0, 0, 0);
    animation-timing-function: ease-in-out;*/
    /*애니메이션 실회 횟수*/
    /*animation-iteration-count: 3;
    animation-direction: alternate;*/
    /*단축 표현 필수 조건은 애니메이션이름 듀레이션시간.*/
    /*animation: text-ani 0.5s forwards 2s ease-in-out 3 alternate;*/
    animation: text-ani 0.5s forwards ease-in-out;
}

.main-content {
    background-color: #fff;
    border-radius: 20px 20px 0 0;
    /*height: 60vh;높으를 지우면 컨텐츠만큼 높이가 올라온다.*/
    min-height: 400px;
    display: flex;
    padding: 30px;
    /*flex-direction: column;*/
    flex-direction: row;
    /*justify-content: flex-end;*/
    justify-content: space-between;
    /*컨텐트 값들을 정렬한다.*/
    /*justify-content: space-between;*/
    /*justify-content:space-around; */
    /*justify-content: center; 가운데 정렬*/
    /*부모 영역의 아래쪽으로 group들이 붙어진다.*/
    /*align-items: flex-end;*/
    /*align-items: center;*/
    /*align-items: flex-start;*/
}

.group {
    /*background-color: orange;*/
}

.group1 {
    width: 250px;
    /*height: 100px;*/
    /*order: 1;*/
    /*align-self: flex-end;*/
}


/*로그인 float*/


/*로그인*/

.login {
    background: radial-gradient(circle at center top, #96e6a1 0%, #d4fc79 100%);
    padding: 10px;
    border-radius: 15px;
    /* 0 0 10px 번짐의 효과가 얼마나 한지 10px 번짐 효과*/
    box-shadow: 3px 3px 5px 3px gray;
}

.login-heading {
    font-family: "Noto Sans Bold", sans-serif;
    font-size: 1.6rem;
    color: rgba(93, 93, 93, 0.95);
    text-shadow: 1px 1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, -1px -1px 0 #fff;
    text-indent: 10px;
}

.login-form fieldset {
    padding: 0 0 15px 0;
    border: 0;
    border-bottom: 1px solid #aaa;
    margin: 0;
    position: relative;
}

.login-form {
    padding: 10px;
    background: white;
    margin-top: 10px;
    border-radius: 10px 10px 0 0;
}

.login-form input {
    box-sizing: border-box;
    width: 100px;
    height: 22px;
    border: 1px solid #aaa;
    padding: 1px 1px 1px 1px;
}

.login-form label {
    /*레이블 테그는 인라인 상자라 적용이 안된다.*/
    display: inline-block;
    width: 3.8em;
    cursor: pointer;
    /*background: yellow;*/
}

.btn-login {
    background: linear-gradient(to bottom, #eee, #ccc);
    border-radius: 4px;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    padding: 0 5px;
    /*마우스에 올리면 손가락 표시가 되게 한다.*/
    cursor: pointer;
    /*font-size: 1.2rem;*/
}

.member {
    padding: 0 10px 10px 10px;
    background: white;
    border-radius: 0 0 10px 10px;
    /*이걸 주면 * 앞에 점찍히는거를 방지할 수 있다*/
    list-style-type: none;
    font-size: 1.3rem;
    /*display: flex;*/
    /*justify-content: space-between;*/
}


/*플로트 이슈를 해결하기 위한 clearfix*/

.member::after {
    content: "";
    display: block;
    /*강제 마진을 준다 float높이 만큼*/
    clear: both;
}

.icon-right-open::before,
.icon-right-outline::before {
    color: red;
    /*font-size: 1rem;*/
}

.join {
    /*background: yellow;*/
    float: left;
}

.find {
    /*background: pink;*/
    float: right;
}

.user-pw {
    /*background: lime;*/
    margin-top: 5px;
}

.member {
    /*border-top: 1px solid #aaa;*/
    list-style-type: none;
    background: white;
    border-radius: 0 0 15px 15px;
}

.group2 {
    width: 380px;
    /*height: 200px;*/
    /*order: 2;*/
}

.group3 {
    width: 190px;
    /*height: 150px;*/
    /*order: 3;*/
    /*기본 order 값이 0으로 되어 있으므로 -1을 쓰면 가장 앞에 간다.*/
    /*order: -1;*/
}


/*유효성 검사 배너 링크*/

.validation {
    margin-top: 20px;
}


/*.validation-list {
    list-style-type: none;
}

.validation-list a {
    display: block;
    border: 1px solid #aaa;
    border-radius: 15px;
    height: 30px;
    line-height: 30px;
    margin: 10px 0px;
    padding-left: 45px;
    background: url("images/validation_icon.png") no-repeat 20px 50%, linear-gradient(to bottom, #eee 0%, #ccc 100%);
}*/

.validation-list li {
    /*url안에서 no-repeat를 작성하면 하나만 나오게 되고 25px는 x좌표 기준 y좌표는 50%나 center를 작성하면 가운데로 배치가 된다.*/
    background: url("images/validation_icon.png") no-repeat 20px 50%, linear-gradient(to bottom, #eee, #ccc);
    list-style-type: none;
    border: 1px solid #aaa;
    margin-bottom: 10px;
    height: 30px;
    line-height: 30px;
    /*이렇게 쓰면 사진을 눌렀을때 그림 앞에는 클릭이 안된다.*/
    /*padding-left: 45px;*/
    /*text 기준으로 여백이 들어가기 때문에 클릭이 그림 전체로 된ㄷ.*/
    text-indent: 45px;
    border-radius: 15px;
}

.validation-list a {
    display: block;
}


/*웹관련 용어*/

.term {
    background: linear-gradient(to bottom, #eee 0%, #ccc 100%);
    margin-top: 20px;
    border: 1px solid #aaa;
    border-radius: 5px;
    /*padding을 2개만 주면 처음은 위아래 두번재는 왼쪽오른쪽 값이 된다.*/
    padding: 10px 15px;
}

.term-heading {
    font-size: 1.6rem;
    font-family: "Noto Sans Bold";
}

.term-list {
    margin: 10px 0 0 0;
}

.term-list::after {
    content: "";
    display: block;
    clear: both;
}


/*밑에 brief를 0으로 해서 밑에게 먼저 우선되니까 !important를 적용한다. 또한
dd.term-list-brief이런식으로 정확히 명시해줘도 된다.*/

.term-list-brief {
    margin-top: 5px !important;
}

.term-list-thumbnail,
.term-list-brief {
    margin: 0;
}

.term-list-subject,
.term-list-brief {
    float: right;
    width: 145px;
}

.term-list-subject {}

.term-list-thumbnail {
    float: left;
}

.even .term-list-subject,
.even .term-list-brief {
    float: left;
}

.even .term-list-thumbnail {
    float: right;
}


/*.term {
    margin-top: 20px;
    padding: 12px 15px 15px 15px;
    background: linear-gradient(to bottom, #eee, #ccc);
    border: 1px solid #aaa;
    border-radius: 15px;
}

.term-list {
    margin: 5px 0 0 0;
    padding: 0;
}

.term h2 {
    padding: 0;
    margin: 0;
    font-family: "Noto Sans Bold", sans-serif;
    font-size: 1.6rem;
    color: black;
}

.term dt {
    display: inline-block;
    붕 뜨게 하고 싶으면 relative에서 상위 좌표를 -10px로 준다.
    position: relative;
    top: -5px;
    margin: 0;
    padding: 0;
    font-family: "Noto Sans Bold", sans-serif;
    font-size: 1.6rem;
    color: blue;
}

.term dd {
    margin: 0;
    padding: 0;
}

그냥 :first-child를 사용하면 dt가 면저 선택된다.
.term dl dd:nth-of-type(1) {
    float: left;
    margin: 0 15px 0 0;
    padding: 0;
}*/


/*.term {
    background: lime;
    margin-top: 20px;
    padding: 10px;
}

.term-heading {
    font-size: 1.6rem;
    font-family: "Noto Sans Bold";
}

.term ul {
    list-style-type: none;
}

.term-list-thumbnail {
    float: left;
}*/


/*.validation a {
    
    display: block;
}

.aaa,
.bbb {
    line-height: 30px;
    list-style: none;
    width: 250px;
    box-sizing: border-box;
    background: radial-gradient(circle at center top, #96e6a1 0%, #d4fc79 100%);
    height: 30px;
    border: 1px solid #aaa;
    border-radius: 30px;
}

.bbb {
    margin-top: 15px;
}
*/


/*search 연습--------------------*/


/*.search {
    position: relative;
    padding: 15px 10px 8px 13px;
    background: linear-gradient(to bottom, #eee 0%, #ccc 100%);
    border: 1px solid #aaa;
    border-bottom: 0;
    border-radius: 15px 15px 0 0;
}

.search fieldset {
    border: 0;
}

.searching {
}

.btn-search {
    background: linear-gradient(to bottom, #000, #ccc);
    border-radius: 4px;
    position: absolute;
    top: 10px;
    right: 0;
    padding: 0 5px;
    cursor: pointer;
}*/


/*search 연습--------------------*/


/*.search {
    background: linear-gradient(to bottom, #eee 0%, #ccc 100%);
    border: 1px solid #aaa;
    border-bottom: 0;
    border-radius: 15px 15px 0 0;
    padding: 20px 10px 5px 25px;
}

.search fieldset {
    border: 0;
}

.search-form input {
    box-sizing: border-box;
    width: 200px;
    height: 20px;
    border: 1px solid #aaa;
    padding: 1px 1px 1px 1px;
}

.keyword {
    box-sizing: border-box;
    width: 200px;
    height: 20px;
    border: 1px solid #aaa;
    padding: 1px 1px 1px 1px;
}

.search label::before {
    font-family: "webcafeicon";
    content: "z";
    position: relative;
    top: 2px;
    right: 4px;
}

.btn-search {
    width: 48px;
    color: white;
    background: linear-gradient(to bottom, #000, #ccc);
    border-radius: 4px;
    padding: 0 5px;
    cursor: pointer;
    border: 0;
}*/


/*search 진짜 실습 밑에 부분*/

.search {
    background: linear-gradient(to bottom, #96e6a1 0%, #d4fc79 50%, white 100%);
    border: 1px solid #aaa;
    border-bottom: 0;
    border-radius: 15px 15px 0 0;
    padding: 15px 25px 5px 25px;
}

.search label {
    color: rgba(93, 93, 93, 0.95);
    text-shadow: 1px 1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, -1px -1px 0 #fff;
}

.search fieldset {
    border: 0;
    padding: 0;
    margin: 0;
}

.search-form label::before {
    font-family: "webcafeicon";
    content: "z";
    position: relative;
    top: 2px;
}

.search-form input {
    width: 195px;
    height: 22px;
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 1px 1px 1px 5px;
    margin: 0 5px;
}

.btn-search {
    background: linear-gradient(to bottom, #eee, #ccc);
    border-radius: 4px;
    border: 1px solid #aaa;
    padding: 0 10px;
    height: 24px;
}


/*내가 실습한 board*/


/*.board {
    position: relative;
    margin-top: 23px;
}

.board span:hover+ul {
    display: block;
}

.board ul {
    position: absolute;
    top: 40px;
    padding: 0 0 0 10px;
    list-style-type: none;
}

.more {
    float: right;
    position: relative;
    top: 4px;
    right: 5px;
}

.board span {
    float: left;
    position: relative;
}

.board span {
    margin: 0;
    color: rgba(93, 93, 93, 0.95);
    text-shadow: 1px 1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, -1px -1px 0 #fff;
    padding: 5px;
    border: 1px solid #aaa;
    background: linear-gradient(to bottom, #eee, #ccc);
    border-radius: 4px 4px 0 0;
    border-bottom: 0;
}

.board ul li {
    display: inline-block;
}

.board ul a {
    display: block;
}

.notice-sub li a {
    width: 290px;
    display: inline-block;
}

.board li a::before {
    font-family: "webcafeicon";
    content: "r";
    position: relative;
    top: 2px;
}

.board time {
    float: right;
}

.board span:hover {
    background: white;
    border: 1px solid red;
    border-bottom: 0;
    color: red;
    outline: 0;
}

.notice-sub {
    display: none;
}

.pds-sub {
    display: block;
}*/


/*공지사항 및 자료실*/


/*.board {
    position: relative;
    margin-top: 20px;
}

.notice-more,
.pds-more {
    position: absolute;
    right: 5px;
}

.board ul time {
    float: right;
}

.notice-list {
    display: none;
}

.pds-list {
}

.board li a::before {
    font-family: "webcafeicon";
    content: "r";
    position: relative;
    top: 2px;
}

.board ul {
    line-height: 30px;
    position: absolute;
    top: 40px;
    padding: 0 0 0 10px;
    list-style-type: none;
}

.board h2 {
    float: left;
    position: relative;
}

.notice-heading,
.pds-heading {
    margin: 0;
    color: rgba(93, 93, 93, 0.95);
    text-shadow: 1px 1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, -1px -1px 0 #fff;
    padding: 5px;
    border: 1px solid #aaa;
    background: linear-gradient(to bottom, #eee, #ccc);
    border-radius: 4px 4px 0 0;
    border-bottom: 0;
}

.act .notice-heading,
.act .pds-heading {
    background: white;
    border: 1px solid red;
    border-bottom: 0;
    color: red;
    outline: 0;
}*/


/*공지사항 및 자료실 최종본*/

.board {
    height: 160px;
    position: relative;
    margin-top: 30px;
}

.notice-heading,
.pds-heading {
    float: left;
    border: 1px solid #aaa;
    border-radius: 5px 5px 0 0;
    color: #181818;
    background: linear-gradient(to bottom, #eee, #ccc);
    padding: 5px 10px;
    cursor: pointer;
}

.act .notice-heading,
.act .pds-heading {
    border-color: green;
    border-bottom-color: white;
    background: white;
    color: green;
    outline: 0;
}

.notice-list,
.pds-list {
    box-sizing: border-box;
    /*크기를 줘야지 absolute가 되지 않도록 크기를 부모만큼 줘야 한다.*/
    width: 100%;
    list-style-type: square;
    position: absolute;
    top: 35px;
    left: 0;
    padding-left: 20px;
}


/*상자와 상자사이는 lint-height가 아니라 margin*/

.notice-list li,
.pds-list li {
    margin: 5px 0;
}

.notice-list time,
.pds-list time {
    float: right;
}

.notice-list a,
.pds-list a {
    float: left;
    width: 285px;
    /*한줄일 경우에만 적용 가능하고 white space overflow text-overflow 3개를 한번에 사용한다.*/
    /*한줄로 인식한다. 무조건*/
    white-space: nowrap;
    overflow: hidden;
    /*ellipsis는 css3때 추가된것으로 추가된 부분은 ...으로 바뀐다.*/
    text-overflow: ellipsis;
}

.notice-more,
.pds-more {
    position: absolute;
    top: 0;
    right: 0px;
    padding: 8px 0 0 0;
}

.notice-more::before,
.pds-more::before {
    content: "p";
    font-family: "webcafeIcon";
    color: hsla(120, 100%, 40%, 1);
    position: relative;
    top: 2px;
}

.notice-list,
.pds-list,
.notice-more,
.pds-more {
    display: none;
}

.act .notice-list,
.act .pds-list,
.act .notice-more,
.act .pds-more {
    display: block;
}


/*새소식 디자인*/


/*.news {
    position: relative;
    margin-top: 20px;
    background: yellow;
}

.news-more {
    top: 0;
    right: 0;
    position: absolute;
}

.news-form {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px solid #aaa;
}

.etc {
    background: red;
    margin: 0 20px 0 0;
    float: left;
}

.etc figcaption {
    margin-top: 20px;
    text-align: center;
}

.news-list {
    list-style-type: none;
    background: lime;
}

.top {
    background: pink;
    margin-bottom: 3px;
}

.top::before {
    content: "r";
    font-family: "webcafeIcon";
    position: relative;
    top: 2px;
}*/


/*새소식 디자인 최종*/

.slogan {
    height: 10vh;
}

.footer-bg {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 1) 100%);
}

.footer {
    height: 10vh;
}